[submodule "sites/all/modules/icuclub"]
	path = sites/all/modules/icuclub
	url = https://github.com/imperialcollegeunion/clubpage.git
[submodule "sites/all/modules/icucommittees"]
	path = sites/all/modules/icucommittees
	url = https://github.com/imperialcollegeunion/committees.git
